<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>资源类配置</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="lib/layui/css/layui.css">
    <link rel="stylesheet" href="css/scroll-bar.css">
    <link rel="stylesheet" href="css/sub-page.css">
    <!--<link rel="stylesheet" href="//at.alicdn.com/t/font_693759_wytlyqhtdtj1nhfr.css">-->
    <link rel="stylesheet" href="lib/nprogress/nprogress.css">
    <link rel="stylesheet" href="css/page.css?2">
    <link rel="stylesheet" href="css/font-awesome.min.css">
</head>
<body>
<div class="layui-element" id="vue-element">
    <!--导航区域-->
    <div class="layui-tab">
        <ul class="layui-tab-title">
            <li class="layui-this">基础设施层</li>
            <li>虚拟资源层</li>
            <li>平台资源层</li>
            <li>业务应用层</li>
            <li>管理资源层</li>
        </ul>
        <!--导航内容-->
        <div class="layui-tab-content">
            <!--基础设施层start-->
            <div class="layui-tab-item layui-show">
                <!-- 添加属性-->
                    <div class="head-title-box">
                        <button class="layui-btn" :class="{'layui-btn-primary':isClassModel}"  v-on:click="isClassModel=false">添加属性</button>
                        <button class="layui-btn" :class="{'layui-btn-primary':!isClassModel}" v-on:click="isClassModel=true">添加类关系</button>
                    </div>
                    <div class="layui-row">
                        <!--左边导航-->
                        <div class="layui-col-xs2 related">
                            <div class="left-nav-box bg-gary">
                                <template>
                                    <div class="left-nav-item" v-for="item in left_nav" :key="item.id" :class="item.selected?'active':''" v-on:click="selectNav(item)">
                                        {{ item.name }}
                                        <img v-if="!isClassModel" src="images/edit.png" v-on:click.stop="addResClass(item)">
                                    </div>
                                    <div class="left-nav-btn" v-if="!isClassModel">
                                        <button class="layui-btn layui-btn-sm" v-on:click="addResClass">添加资源类</button>
                                    </div>
                                </template>
                            </div>
                        </div>
                        <!--添加属性-基本信息-->
                        <div class="layui-col-xs10" v-show="!isClassModel">
                            <template class="layui-row">
                                <div class="layui-col-xs9">
                                    <!-- 添加属性-->
                                    <div class="form-box" >
                                            <div class="form-head">
                                                基本信息
                                            </div>
                                            <drop class="form-item-box" @drop="handleDrop">
                                                <form class="layui-form" action="">
                                                    <div class="form-item"
                                                         v-for="item of cur_select.attr"
                                                    >
                                                        <div class="form-item-head">
                                                            {{ item.title }} <span class="red" v-if='item.required'>*</span>：
                                                        </div>
                                                        <div class="form-item-center">
                                                            <input v-if="item.type=='text'||item.type=='number'" :lay-verify="layVerify(item)" :data-item="JSON.stringify(item)"
                                                                   v-model="item.value" :type="item.type" name="title" autocomplete="off" :placeholder="'请输入' + item.title" class="layui-input"/>
                                                            <textarea v-if="item.type=='textarea'" :lay-verify="layVerify(item)" :data-item="JSON.stringify(item)"
                                                                      v-model="item.value" autocomplete="off" :placeholder="'请输入' + item.title" class="layui-textarea"></textarea>
                                                            <select v-if="item.type=='pulldown'" v-model="item.value" :lay-verify="layVerify(item)">
                                                                <option value="">请选择</option>
                                                                <option v-for="op of item.options" :value="op.opName">{{op.opName}}</option>
                                                            </select>
                                                            <select v-if="item.type=='useobj'" v-model="item.value" :lay-verify="layVerify(item)">
                                                                <option value="">请选择</option>
                                                                <option v-for="op of item.options" :value="op.opName">{{op.opName}}</option>
                                                            </select>
                                                            <input type="text" class="layui-input" v-if="item.type=='dateTime'" :id="'laydate'+item.title" placeholder="yyyy-MM-dd">
                                                            <div v-if="item.type=='checkbox'">
                                                                <input type="checkbox" v-for="op of item.options" :title="op.opName" :checked="op.isSelect">
                                                            </div>
                                                            <div v-if="item.type=='radio'">
                                                                <input type="radio" :name="item.title" v-for="op of item.options" :title="op.opName" :value="op.opName" :checked="op.isSelect">
                                                            </div>
                                                            <table v-if="item.type=='table'" class="layui-hide" :id="'laytable'+item.title"></table>
                                                            <input v-if="item.type=='file'" :lay-verify="layVerify(item)" class="input-file" type="file" v-on:change="(e)=>{changeFile(e,item)}" />
                                                        </div>
                                                        <div class="form-item-right" v-if="item.hasRightText||item.unit">
                                                            <div v-if="item.hasRightText">* 名称为固定选项，不可去除；</div>
                                                            <div v-if="item.unit">单位：{{item.unit}}</div>
                                                        </div>
                                                    </div>
                                                    <div class="form-item">
                                                        <div class="form-item-head"> </div>
                                                        <button class="layui-btn " lay-submit lay-filter="*">提交</button>
                                                    </div>
                                                </form>
                                            </drop>
                                        </div>

                                </div>
                                <div class="layui-col-xs3">
                                    <div class="drap-box">
                                        <drag class="drap-item"
                                              v-for="item of drap_icon"
                                              :key="item.title"
                                              :transfer-data="item"
                                              :effect-allowed="['copy']"
                                              drop-effect="copy"
                                        >
                                    <span>
                                        <img :src="item.src">
                                    </span>
                                            <span style="margin-top: 5px">
                                        {{ item.title }}
                                    </span>
                                        </drag>
                                    </div>
                                </div>
                            </template>
                        </div>
                        <!--添加类关系-->
                        <div v-show="isClassModel" class="layui-col-xs10 class-model-box">
                            <button class="layui-btn tier-btn">添加层关系</button>
                            <template >
                                <div class="class-model-item-box" v-if="cur_select.class[0]">
                                    <div v-for="item of cur_select.class[0].children" class="class-model-item">
                                        <img :src="'images/'+item.type+'.png'">
                                        <div style="position: absolute;top: 150%;left: 55%;white-space: nowrap;">{{item.state}}</div>
                                    </div>
                                </div>
                                <div v-for="item of cur_select.class" style="width: 100%;text-align: center;margin-top: 100px">
                                    <div class="servers-img">
                                        <img :src="'images/'+item.type+'.png'" >
                                    </div>
                                </div>
                                <button class="layui-btn" style="margin-top: 20px">保存</button>
                                <button class="layui-btn" style="margin-top: 20px">取消</button>
                            </template>
                        </div>
                    </div>
            </div>
            <!--基础设施层end-->
            <div class="layui-tab-item">虚拟资源层</div>
            <div class="layui-tab-item">平台资源层</div>
            <div class="layui-tab-item">业务应用层</div>
            <div class="layui-tab-item">管理资源层</div>
        </div>
    </div>
    <!--拖拽弹窗-->
    <template v-if="msgBoxShow">
        <div class="msg-box" >
            <div class="msg-box-bg"></div>
            <div class="msg-content-box">
                <div class="msg-content-title">
                    添加属性 - {{ cur_drap.title }}
                    <i class="layui-icon layui-icon-close" v-on:click="msgBoxShow=false" style="float: right;cursor: pointer"></i>
                </div>
                <div class="msg-content">
                    <form class="layui-form">
                        <div class="msg-content-item" v-for="item of cur_drap.parm">
                            <div class="msg-content-item-title">
                                <span class="red" v-if="item.required">*</span>{{ item.lable }}：
                                <div v-if="item.type=='options'" class="layui-btn layui-btn-sm" style="float: right" v-on:click="addOption(item)">添加</div>
                            </div>
                            <div class="msg-content-item-input" >
                                <input type="checkbox" v-if="item.name=='required'" v-model="item.value" ref="required" lay-skin="switch" lay-text="是|否">
                                <input type="checkbox" v-if="item.name=='required_data'" v-model="item.value" ref="required_data" lay-skin="switch" lay-text="是|否">
                                <input type="text" v-if="item.type=='dateTime'" class="layui-input" id="laydata" v-model="item.value" ref='dateTime' placeholder="yyyy-MM-dd">
                                <template v-if="item.type=='text'||item.type=='number'">
                                    <input :type="item.type" :placeholder="'请输入' + item.lable" v-model="item.value" autocomplete="off" class="layui-input">
                                    <div v-if="item.name=='code'" class="msg-content-item-tips">请输入3-30个字母或数字，且首个字符必须为字母；</div>
                                </template>
                                <select name="rules" v-if="item.type=='select'&&(item.name=='rules'||item.name=='useobj')" v-model="item.value" ref="rules">
                                    <option value="">请选择</option>
                                    <option value="111">无校验</option>
                                    <option value="010">IP地址</option>
                                    <option value="021">邮箱</option>
                                </select>
                                <template v-if="item.type=='options'&&(item.name=='options'||item.name=='table')">
                                    <div v-for="(op,i) of item.options" :key="i" class="msg-content-item-pulldown">
                                        <i :class="op.isSelect?'fa fa-check-circle':'fa fa-circle-thin'" class="pulldown-hover" v-if="item.name=='options'" aria-hidden="true" v-on:click="checkOption(item,i)"></i>
                                        <input v-model="op.opName" placeholder="请输入选项名称"/>
                                        <i class="fa fa-trash-o" v-on:click="item.options.splice(i,1)"></i>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </form>
                    <button class="layui-btn" @click="saveDrap">保存</button>
                </div>
            </div>
        </div>
    </template>
    <!--上传图片-->
    <template v-if="showUpload">
        <div class="msg-box" >
            <div class="msg-box-bg"></div>
            <div class="msg-content-box">
                <div class="msg-content-title">
                    {{isEdit?'编辑':'添加'}}资源类
                    <i class="layui-icon layui-icon-close" v-on:click="showUpload=false;uploadImgOption.img='';uploadImgOption.curimg='';uploadImgOption.textValue='';isEdit=false"
                       style="float: right;cursor: pointer"></i>
                </div>
                <div class="msg-content">
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="white-space: nowrap;">资源类名称<span class="red">*</span></label>
                            <div class="layui-input-block">
                                <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input" v-model="uploadImgOption.textValue">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">类图标:</label>
                            <div class="layui-input-block">
                                <button type="button" class="layui-btn" id="uploadImg">
                                   <i class="layui-icon">&#xe67c;</i>上传图片
                                </button>
                                <span style="color: #b8b8b8;">图标大小为100*100px, 格式为.png</span>
                            </div>
                        </div>
                        <div class="layui-form-item" v-if="uploadImgOption.curimg">
                            <label class="layui-form-label" style="color: #b8b8b8">(当前图标)</label>
                            <img :src="uploadImgOption.curimg"/>
                        </div>
                    <vue-cropper style="height: 400px"
                                 ref="cropper"
                                 v-show="uploadImgOption.img"
                                 :img="uploadImgOption.img"
                                 :auto-crop="uploadImgOption.autoCrop"
                                 :auto-crop-width="uploadImgOption.autoCropWidth"
                                 :auto-crop-height="uploadImgOption.autoCropHeight"
                                 :output-size="uploadImgOption.outputSize"
                                 :output-type="uploadImgOption.outputType"
                                 :center-box="uploadImgOption.centerBox"
                                 :fixed="uploadImgOption.fixed"
                    ></vue-cropper>
                    <button class="layui-btn" style="margin-top: 20px" v-on:click="saveCropper" v-if="uploadImgOption.img">截取图片</button>
                    <button class="layui-btn" style="margin-top: 20px" :disabled="uploadImgOption.img?true:false" :class="uploadImgOption.img?'layui-bg-gray':''" v-on:click="saveImage">保存</button>
                </div>
            </div>
        </div>
    </template>

</div>
<!--js逻辑-->
<script src="lib/layui/layui.js"></script>
<script src="js/vue.min.js"></script>
<script src="lib/nprogress/nprogress.js"></script>
<!--拖拽-->
<script src="js/vue-drag-drop.browser.js"></script>
<!--上传截图-->
<script src="component/vue-cropper.js"></script>
<script>
    NProgress.start();
    Vue.use(window['vue-cropper'])
    new Vue({
        el: '#vue-element',
        data() {
            return{
                /* 基础设施层 */
                // 左边导航
                left_nav:[{
                    id: 0,
                    name: '机房',
                    selected: true,
                    //属性 title.required,hasRightText,value
                    attr: [{
                        title: '名称',//显示title
                        type: 'text',//类型
                        required: true,//是否必填
                        hasRightText: true,//显示（名称为固定选项，不可去除；）
                        value:'',//值
                    }],
                    //类关系
                    class: [{
                        name:'服务器',
                        type:'server',
                        children:[{
                            name:'网络设备',
                            type:'network',
                            state:'连接'
                        },{
                            name:'windows',
                            type:'windows',
                            state:'运行在'
                        },{
                            name:'虚拟机',
                            type:'virtual',
                            state:'运行在'
                        },{
                            name:'数据库',
                            type:'database',
                            state:'运行在'
                        }]
                    }]
                },{
                    id: 1,
                    name: '机柜',
                    selected: false,
                    attr: [{
                        title: '名称',//显示title
                        type: 'text',//类型
                        required: true,//是否必填
                        hasRightText: true,
                        value:'',//值
                    }],
                    //类关系
                    class: {

                    }
                },{
                    id: 2,
                    name: 'PC服务器',
                    selected: false,
                    attr: [{
                        title: '名称',//显示title
                        type: 'text',//类型
                        required: true,//是否必填
                        hasRightText: true,
                        value:'',//值
                    }],
                    //类关系
                    class: {

                    }
                },],
                cur_select: {},
                cur_drap: {},
                msgBoxShow: false,
                // 拖拽图标
                drap_icon:[
                    {
                        title: "单行文本",
                        type: 'text',
                        src: 'images/d-text.png',
                        parm: [
                            {
                                name: 'name',
                                lable: '字段名称',
                                value: '',
                                type: 'text',
                                required: true
                            },{
                                name: 'default',
                                lable: '默认值',
                                value: '',
                                type: 'text',
                            },{
                                name: 'required',
                                lable: '是否必填',
                                value: false,
                                type: 'check',
                            },{
                                name: 'rules',
                                lable: '校验规则',
                                value: '',
                                type: 'select',
                            },{
                                name: 'minLength',
                                lable: '最小文本长度',
                                value: '',
                                type: 'number',
                            },{
                                name: 'maxLength',
                                lable: '最大文本长度',
                                value: '',
                                type: 'number',
                            }]
                    },{
                        title: "多行文本",
                        type: 'textarea',
                        src: 'images/d-textarea.png',
                        parm: [
                            {
                                name: 'name',
                                lable: '字段名称',
                                value: '',
                                type: 'text',
                                required: true
                            },{
                                name: 'default',
                                lable: '默认值',
                                value: '',
                                type: 'text',
                            },{
                                name: 'required',
                                lable: '是否必填',
                                value: false,
                                type: 'check',
                            },{
                                name: 'rules',
                                lable: '校验规则',
                                value: '',
                                type: 'select',
                            },{
                                name: 'minLength',
                                lable: '最小文本长度',
                                value: '',
                                type: 'number',
                            },{
                                name: 'maxLength',
                                lable: '最大文本长度',
                                value: '',
                                type: 'number',
                            }]
                    },{
                        title: "数值",
                        type: 'number',
                        src: 'images/d-textarea.png',
                        parm: [
                            {
                                name: 'name',
                                lable: '字段名称',
                                value: '',
                                type: 'text',
                                required: true
                            },{
                                name: 'default',
                                lable: '默认值',
                                value: '',
                                type: 'text',
                            },{
                                name: 'unit',
                                lable: '单位',
                                value: '',
                                type: 'text',
                            },{
                                name: 'required',
                                lable: '是否必填',
                                value: false,
                                type: 'check',
                            },{
                                name: 'minDigit',
                                lable: '最小位数',
                                value: '',
                                type: 'number',
                            },{
                                name: 'minLength',
                                lable: '最小文本长度',
                                value: '',
                                type: 'number',
                            },{
                                name: 'maxLength',
                                lable: '最大文本长度',
                                value: '',
                                type: 'number',
                            }]
                    },{
                        title: "下拉",
                        type: 'pulldown',
                        src: 'images/d-select.png',
                        parm: [
                            {
                                name: 'name',
                                lable: '字段名称',
                                value: '',
                                type: 'text',
                                required: true
                            },{
                                name: 'required',
                                lable: '是否必填',
                                value: false,
                                type: 'check',
                            },{
                                name: 'options',
                                lable: '选项',
                                value: '',
                                type: 'options',
                                options: []
                            }]
                    },{
                        title: "多选",
                        type: 'checkbox',
                        src: 'images/d-checkgroup.png',
                        parm: [
                            {
                                name: 'name',
                                lable: '字段名称',
                                value: '',
                                type: 'text',
                                required: true
                            },{
                                name: 'required',
                                lable: '是否必填',
                                value: false,
                                type: 'check',
                            },{
                                name: 'options',
                                lable: '选项',
                                value: '',
                                type: 'options',
                                options: []
                            }]
                    },{
                        title: "单选",
                        type: 'radio',
                        src: 'images/d-check.png',
                        parm: [
                            {
                                name: 'name',
                                lable: '字段名称',
                                value: '',
                                type: 'text',
                                required: true
                            },{
                                name: 'required',
                                lable: '是否必填',
                                value: false,
                                type: 'check',
                            },{
                                name: 'options',
                                lable: '选项',
                                value: '',
                                type: 'options',
                                options: []
                            }]
                    },{
                        title: "日期和时间",
                        type: 'dateTime',
                        src: 'images/d-date.png',
                        parm: [
                            {
                                name: 'name',
                                lable: '字段名称',
                                value: '',
                                type: 'text',
                                required: true
                            },{
                                name: 'required',
                                lable: '是否必填',
                                value: false,
                                type: 'check',
                            },{
                                name: 'required_data',
                                lable: '仅日期',
                                value: false,
                                type: 'check',
                            },{
                                name: 'dateTime',
                                lable: '默认值',
                                value: '',
                                type: 'dateTime',
                            }]
                    },{
                        title: "属性分组",
                        type: 'number',
                        src: 'images/d-group.png'
                    },{
                        title: "表格",
                        type: 'table',
                        src: 'images/d-table.png',
                        parm: [
                            {
                                name: 'name',
                                lable: '字段名称',
                                value: '',
                                type: 'text',
                                required: true
                            },{
                                name: 'required',
                                lable: '是否必填',
                                value: false,
                                type: 'check',
                            },{
                                name: 'table',
                                lable: '列名',
                                value: false,
                                type: 'options',
                                options: []
                            }]
                    },{
                        title: "引用",
                        type: 'useobj',
                        src: 'images/d-quote.png',
                        parm: [
                            {
                                name: 'name',
                                lable: '字段名称',
                                value: '',
                                type: 'text',
                                required: true
                            },{
                                name: 'required',
                                lable: '是否必填',
                                value: false,
                                type: 'check',
                            },{
                                name: 'useobj',
                                lable: '引用对象',
                                value: '',
                                type: 'select',
                            }]
                    },{
                        title: "附件",
                        type: 'file',
                        src: 'images/d-file.png',
                        parm: [
                            {
                                name: 'name',
                                lable: '字段名称',
                                value: '',
                                type: 'text',
                                required: true
                            },{
                                name: 'code',
                                lable: '字段编码',
                                value: '',
                                type: 'text',
                                required: true
                            },{
                                name: 'required',
                                lable: '是否必填',
                                value: false,
                                type: 'check',
                            }]
                    }],
                LayUI:{},
                uploadImgOption:{
                    img:'',
                    curimg:'',
                    outputSize:0.8,
                    outputType:'png',
                    autoCrop:true,
                    autoCropWidth:'100',
                    autoCropHeight:'100',
                    centerBox:true,
                    fixed:true,
                    textValue:''
                },
                showUpload:false,//显示上传图片
                isEdit:false,//是否编辑资源类
                isClassModel:false,//添加属性,添加类关系模块切换
            }
        },
        created() {
            this.selectNav(this.left_nav[0])
        },
        mounted() {
            this.initLayUI()
            window.onload = function () {
                NProgress.done();
            }
        },
        methods: {
            //表单验证
            layVerify(item){
                var verify = ''
                if(item.maxLength||item.minLength){
                    verify+='|length'
                }
                if (item.required){
                    verify+='|required'
                }
               return verify
            },
            // 初始化layui
            initLayUI(){
                var that = this
                this.$nextTick(function(){
                    layui.use(['element', 'table', 'form', 'upload', 'jquery', 'laydate'], function () {
                        that.LayUI = {
                            element: layui.element,
                            table: layui.table,
                            form: layui.form,
                            upload: layui.upload,
                            $: layui.$,
                            laydate: layui.laydate,
                        }
                        that.LayUI.form.render()
                        that.LayUI.laydate.render({
                            elem: '#laydata',
                            type: "date"
                        })
                        that.LayUI.form.verify({
                            username: function(value, item){ //value：表单的值、item：表单的DOM对象
                                if(!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)){
                                    return '用户名不能有特殊字符';
                                }
                                if(/^\d+\d+\d$/.test(value)){
                                    return '用户名不能全为数字';
                                }
                            },
                            length: function(value,el){
                                var item = JSON.parse(el.getAttribute('data-item'))
                                if(value.length < item.minLength){
                                    return item.title+'字段至少'+item.minLength+'个字符';
                                }
                                if(item.maxLength>0){
                                    if(value.length > item.maxLength){
                                        return item.title+'字段至多'+item.maxLength+'个字符';
                                    }
                                }
                            }
                            ,pass: [
                                /^[\S]{6,12}$/
                                ,'密码必须6到12位，且不能出现空格'
                            ]
                        });
                        //监听提交
                        layui.form.on('submit(*)', function(data){
                            console.log(data.elem) //被执行事件的元素DOM对象，一般为button对象
                            console.log(data.form) //被执行提交的form对象，一般在存在form标签时才会返回
                            console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
                            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
                        });
                    })
                })
            },
            //拖拽回调
            handleDrop(data) {
                var that = this
                console.log(data)
                if(!data){ return }
                this.cur_drap = JSON.parse(JSON.stringify(data))
                this.msgBoxShow = true
                this.$nextTick(function () {
                    that.LayUI.form.render()
                    that.LayUI.laydate.render({
                        elem: '#laydata',
                        type: "date",
                        done: function(value, date, endDate){
                            that.cur_drap.parm.forEach((parm)=>{
                                if(parm.type=='dateTime'){
                                    parm.value = value
                                }
                            })
                        }
                    })
                })
            },
            //保存拖拽添加
            saveDrap() {
                var maxLength,minLength,code,hasCode;
                if(!this.cur_drap.parm[0].value){ layer.msg('字段名称不能为空'); return;}
                this.cur_drap.parm.forEach((parm)=>{
                    if(parm.name == 'maxLength'){ maxLength = parm.value }
                    if(parm.name == 'minLength'){ minLength = parm.value }
                    if(parm.name == 'code'){  code = parm.value;hasCode = true }
                })
                if(maxLength){if(maxLength<minLength){ layer.msg('最大文本长度不能小于最小文本长度'); return; }}
                if(!code&&hasCode){layer.msg('字段编码不能为空'); return; }
                console.log(code)
                if(code){
                    var reg= /^[A-Za-z]/;
                    if (!reg.test(code)){
                        layer.msg('字段编码首字符必须为字母'); return;
                    }
                    if (code.length<3||code>30){
                        layer.msg('字段编码需输入3-30个字母或数字'); return;
                    }
                }
                if(maxLength<0){ layer.msg('最大文本长度不能小于0'); return; }
                if(minLength<0){ layer.msg('最小文本长度不能小于0'); return; }
                this.msgBoxShow = false
                var rules,required_data,dateTime
                if(this.$refs.rules){
                    rules = this.$refs.rules.length ? this.$refs.rules[0].value : ''
                }
                var required = this.$refs.required ? this.$refs.required[0].checked : ''
                if(this.$refs.required_data){
                    console.log(this.$refs.required_data)
                    required_data = this.$refs.required_data.length ? this.$refs.required_data[0].checked : ''
                }
                if(this.$refs.dateTime){
                    dateTime = this.$refs.dateTime.length ? this.$refs.dateTime[0].value : ''
                }
                this.cur_drap.parm.forEach((item)=>{
                    if(rules && item.name=='rules'){ item.value = rules }
                    if(item.name=='required'){ item.value = required }
                    if(item.name=='required_data'){ item.value = required_data }
                    if(item.name=='dateTime'){ item.value = dateTime }
                })
                this.addBasicInfo()
            },
            //添加基础信息
            addBasicInfo() {
                var that = this,
                    newAddObj = {},
                    newAddObj = this.cur_drap
                    newAddObj.value = ''
                this.cur_drap.parm.forEach((parm)=>{
                    if(parm.name=='name'){ newAddObj.title = parm.value }
                    if(parm.name=='required'){ newAddObj.required = parm.value }
                    if(parm.name=='default'){ newAddObj.value = parm.value}
                    if(parm.name=='options'){ newAddObj.options = parm.options }
                    if(parm.name=='unit'){ newAddObj.unit = parm.value }
                    if(parm.name=='maxLength'){ newAddObj.maxLength = parm.value }
                    if(parm.name=='minLength'){ newAddObj.minLength = parm.value }
                    if(parm.name=='dateTime'){ newAddObj.value = parm.value }
                    if(parm.name=='table'){ newAddObj.options = parm.options }
                })
                if(newAddObj.options){
                    newAddObj.options.forEach((op)=>{
                        if(op.isSelect){
                            newAddObj.value = op.opName
                        }
                    })
                }
                console.log(newAddObj)
                this.left_nav.forEach((item)=>{
                    if(item.selected){
                        item.attr.push(newAddObj)
                    }
                })
                this.$nextTick(function () {
                    that.LayUI.form.render()
                    that.LayUI.laydate.render({
                        elem: document.getElementById('laydate' + newAddObj.title),
                        type: 'date',
                        value: newAddObj.value
                    })
                    var table = []
                    if(newAddObj.options){//table添加
                        if(newAddObj.options.length&&newAddObj.type=='table'){
                            newAddObj.options.forEach((op)=>{
                                table.push({
                                    field: op.opName, title: op.opName
                                })
                            })
                            table.push({
                                field:'edit',title:'操作'
                            })
                        }
                    }
                    that.LayUI.table.render({
                        elem: document.getElementById('laytable' + newAddObj.title),
                        cols: [table],
                        data: [{
                            'edit': '<div class="layui-btn" style="height: 28px;line-height: 28px;">编辑</div><div class="layui-btn layui-btn-danger" style="height: 28px;line-height: 28px;">删除</div>'
                        }]
                    });
                });
                console.log(this.cur_select)
            },
            //选择左边导航
            selectNav(item) {
                this.left_nav.forEach((i)=>{
                    i.selected = false
                    if(i.id == item.id){
                        i.selected = true
                        this.cur_select = i
                    }
                })
            },
            //添加options
            addOption(item){
                console.log(item)
                item.options.push({
                    isSelect: false,
                    opName: ''
                })
                this.$nextTick(function () {
                    layui.use(['form'], function(){
                        layui.form.render()
                    });
                });
            },
            changeFile(e,item){
                console.log(e)
                console.log(item)
                item.value = e
            },
            //选择options默认值
            checkOption(item,index) {
                item.options.forEach((i)=>{
                    i.isSelect = false
                    item.options[index].isSelect = true
                })

            },
            //添加资源类
            addResClass(item) {
                var that = this
                that.showUpload = true
                this.$nextTick(()=>{
                    this.LayUI.upload.render({
                        elem: document.getElementById('uploadImg'), //绑定元素
                        // ,url: '/upload/' //上传接口
                        auto:false,
                        choose:function(obj){
                            //将每次选择的文件追加到文件队列
                            var files = obj.pushFile();

                            //预读本地文件，如果是多文件，则会遍历。(不支持ie8/9)
                            obj.preview(function(index, file, result){
                                console.log(index); //得到文件索引
                                console.log(file); //得到文件对象
                                console.log(result); //得到文件base64编码，比如图片
                                that.uploadImgOption.img = result
                                //obj.resetFile(index, file, '123.jpg'); //重命名文件名，layui 2.3.0 开始新增

                                //这里还可以做一些 append 文件列表 DOM 的操作

                                //obj.upload(index, file); //对上传失败的单个文件重新上传，一般在某个事件中使用
                                //delete files[index]; //删除列表中对应的文件，一般在某个事件中使用
                            });
                        },
                        before:function(obj){
                            console.log(obj)
                        },
                        done: function(res){
                            //上传完毕回调
                        }
                        ,error: function(){
                            //请求异常回调
                        }
                    });
                })
                if(item.type!='click'){
                    this.navEdit(item)
                }
            },
            //保存截图
            saveCropper(){
                console.log(123)
                // 获取截图的base64 数据
                this.$refs.cropper.getCropData((data) => {
                    console.log(data)
                    this.uploadImgOption.curimg = data
                    this.uploadImgOption.img = ''
                })
                // 获取截图的blob数据
                this.$refs.cropper.getCropBlob((data) => {
                    console.log(data)
                })
            },
            //保存图片
            saveImage(){
                if(!this.uploadImgOption.textValue){ layer.msg('请输入资源类名称'); return; }
                this.showUpload = false
                //编辑状态修改left_nav
                if(this.isEdit){
                    this.left_nav.forEach((left)=>{
                        if(left.id==this.isEditItem.id){
                            left.name = this.uploadImgOption.textValue
                            left.img = this.uploadImgOption.curimg
                        }
                    })
                }else{//非编辑状态添加left_nav
                    this.left_nav.push({
                        id: this.left_nav.length,
                        name: this.uploadImgOption.textValue,
                        img: this.uploadImgOption.curimg,
                        selected: false,
                        //属性模块
                        attr: [{
                            title: '名称',//显示title
                            type: 'text',//类型
                            required: true,//是否必填
                            hasRightText: true,//显示（名称为固定选项，不可去除；）
                            value:'',//值
                        }],
                        //类关系
                        class: {

                        }
                    })
                }

                this.uploadImgOption.img = ''
                this.uploadImgOption.curimg = ''
                this.uploadImgOption.textValue = ''
                this.isEdit = false
            },
            //编辑左边导航
            navEdit(item) {
                console.log(item)
                this.showUpload = true
                this.isEdit = true
                this.isEditItem = item
                this.uploadImgOption.curimg = item.img
                this.uploadImgOption.textValue = item.name

            },
            rand(e){
                console.log(e)
                return 'width:500px'
            }
        }
    })
</script>
</body>
</html>
