<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>资源类配置</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="lib/layui/css/layui.css">
    <link rel="stylesheet" href="css/scroll-bar.css">
    <link rel="stylesheet" href="css/sub-page.css">
    <!--<link rel="stylesheet" href="//at.alicdn.com/t/font_693759_wytlyqhtdtj1nhfr.css">-->
    <link rel="stylesheet" href="lib/nprogress/nprogress.css">
    <link rel="stylesheet" href="css/page.css?2">
    <link rel="stylesheet" href="css/font-awesome.min.css">
</head>
<body>
<div class="layui-element" id="vue-element">
    <!--导航区域-->
    <div class="layui-tab">
        <ul class="layui-tab-title">
            <li class="layui-this">基础设施层</li>
            <li>虚拟资源层</li>
            <li>平台资源层</li>
            <li>业务应用层</li>
            <li>管理资源层</li>
        </ul>
        <!--导航内容-->
        <div class="layui-tab-content">
            <!--基础设施层start-->
            <div class="layui-tab-item layui-show">
                <div class="head-title-box">
                    <button class="layui-btn ">添加属性</button>
                    <button class="layui-btn layui-btn-primary">添加类关系</button>
                </div>
                <div class="layui-row">
                    <!--左边导航-->
                    <div class="layui-col-xs2 related">
                        <div class="left-nav-box bg-gary">
                            <div class="left-nav-item" v-for="item in left_nav" :key="item.id" :class="item.selected?'active':''" v-on:click="selectNav(item)">
                                {{ item.name }}
                                <img src="images/edit.png" v-on:click.stop="navEdit">
                            </div>
                            <div class="left-nav-btn">
                                <button class="layui-btn layui-btn-sm">添加资源类</button>
                            </div>
                        </div>
                    </div>
                    <!--基本信息-->
                    <div class="layui-col-xs10">
                        <div class="layui-row">
                            <div class="layui-col-xs9">
                                <div class="form-box">
                                    <div class="form-head">
                                        基本信息
                                    </div>
                                    <div class="form-item-box">
                                        <drop class="form-item"
                                              v-for="item of cur_select.attr"
                                              @drop="handleDrop">
                                            <div class="form-item-head">
                                                {{ item.title }}：
                                            </div>
                                            <div class="form-item-center">
                                                <input type="text" name="title" autocomplete="off" :placeholder="'请输入' + item.title" class="layui-input"/>
                                            </div>
                                            <div class="form-item-right" v-if="item.hasRightText">
                                                * 名称为固定选项，不可去除；
                                            </div>
                                        </drop>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-xs3">
                                <div class="drap-box">
                                    <drag class="drap-item"
                                          v-for="item of drap_icon"
                                          :key="item.title"
                                          :transfer-data="item"
                                          :effect-allowed="['copy']"
                                          drop-effect="copy"
                                    >
                                    <span>
                                        <img :src="item.src">
                                    </span>
                                        <span style="margin-top: 5px">
                                        {{ item.title }}
                                    </span>
                                    </drag>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--基础设施层end-->
            <div class="layui-tab-item">虚拟资源层</div>
            <div class="layui-tab-item">平台资源层</div>
            <div class="layui-tab-item">业务应用层</div>
            <div class="layui-tab-item">管理资源层</div>
        </div>
    </div>


    <!--拖拽弹窗-->
    <template v-if="msgBoxShow">
        <div class="msg-box" >
            <div class="msg-box-bg"></div>
            <div class="msg-content-box">
                <div class="msg-content-title">
                    添加属性 - {{ cur_drap.title }}
                    <i class="layui-icon layui-icon-close" v-on:click="msgBoxShow=false" style="float: right;cursor: pointer"></i>
                </div>
                <div class="msg-content">
                    <form class="layui-form 123">
                        <div class="msg-content-item" v-for="item of cur_drap.parm">
                            <div class="msg-content-item-title">
                                <span class="red" v-if="item.required">*</span>{{ item.lable }}：
                                <div v-if="item.type=='pulldown'&&item.name=='pulldown'" class="layui-btn layui-btn-sm" style="float: right" v-on:click="addOption(item)">添加</div>
                            </div>
                            <div class="msg-content-item-input" v-if="item.name=='required'">
                                <input type="checkbox" name="close" v-model="item.value" ref="required" lay-skin="switch" lay-text="是|否">
                            </div>
                            <div class="msg-content-item-input" v-if="item.type=='text'||item.type=='number'">
                                <input :type="item.type" :placeholder="'请输入' + item.lable" v-model="item.value" autocomplete="off" class="layui-input">
                            </div>
                            <div class="msg-content-item-input" v-else-if="item.type=='select'&&item.name=='rules'" >
                                <select name="rules" lay-verify="" v-model="item.value" ref="rules">
                                    <option value="111">无校验</option>
                                    <option value="010">IP地址</option>
                                    <option value="021">邮箱</option>
                                </select>
                            </div>
                            <div class="msg-content-item-input" v-else-if="item.type=='pulldown'&&item.name=='pulldown'" >
                                <div v-for="(op,i) of item.options" :key="i" class="msg-content-item-pulldown">
                                    <i :class="op.isSelect?'fa fa-check-circle':'fa fa-circle-thin'" class="pulldown-hover" aria-hidden="true" v-on:click="checkOption(item,i)"></i>
                                    <input v-model="op.name" placeholder="请输入选项名称"/>
                                    <i class="fa fa-trash-o" v-on:click="item.options.splice(i,1)"></i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <button class="layui-btn" @click="saveDrap">保存</button>
                </div>
            </div>
        </div>
    </template>
</div>
<!--js逻辑-->
<script src="lib/layui/layui.js"></script>
<script src="js/vue.min.js"></script>
<script src="lib/nprogress/nprogress.js"></script>
<!--拖拽-->
<script src="js/sortable.js"></script>
<script src="js/vuedraggable.js"></script>
<script src="js/vue-drag-drop.browser.js"></script>
<script>
    NProgress.start();
    window.onload = function () {
        NProgress.done();
    }


</script>
<!-- vueJs -->
<script>
    new Vue({
        el: '#vue-element',
        data() {
            return{
                /* 基础设施层 */
                // 左边导航
                left_nav:[{
                    id: 0,
                    name: '机房',
                    selected: true,
                    attr: [{
                        title: '名称',
                        required: true,
                        hasRightText: true
                    }],
                    class: {

                    }
                },{
                    id: 1,
                    name: '机柜',
                    selected: false
                },{
                    id: 2,
                    name: 'PC服务器',
                    selected: false
                },],
                cur_select: {},
                cur_drap: {},
                msgBoxShow: false,
                // 拖拽图标
                drap_icon:[
                    {
                        title: "单行文本",
                        type: 'text',
                        src: 'images/d-text.png',
                        parm: [
                            {
                            name: 'name',
                            lable: '字段名称',
                            value: '',
                            type: 'text',
                            required: true
                        },{
                            name: 'default',
                            lable: '默认值',
                            value: '',
                            type: 'text',
                            required: false
                        },{
                            name: 'required',
                            lable: '是否必填',
                            value: false,
                            type: 'check',
                            required: false
                        },{
                            name: 'rules',
                            lable: '校验规则',
                            value: '',
                            type: 'select',
                            required: false
                        },{
                            name: 'minLength',
                            lable: '最小文本长度',
                            value: '',
                            type: 'number',
                            required: false
                        },{
                            name: 'maxLength',
                            lable: '最大文本长度',
                            value: '',
                            type: 'number',
                            required: false
                        }]
                    },{
                        title: "多行文本",
                        type: 'textarea',
                        src: 'images/d-textarea.png',
                        parm: [
                            {
                                name: 'name',
                                lable: '字段名称',
                                value: '',
                                type: 'text',
                                required: true
                            },{
                                name: 'default',
                                lable: '默认值',
                                value: '',
                                type: 'text',
                                required: false
                            },{
                                name: 'required',
                                lable: '是否必填',
                                value: false,
                                type: 'check',
                                required: false
                            },{
                                name: 'rules',
                                lable: '校验规则',
                                value: '',
                                type: 'select',
                                required: false
                            },{
                                name: 'minLength',
                                lable: '最小文本长度',
                                value: '',
                                type: 'number',
                                required: false
                            },{
                                name: 'maxLength',
                                lable: '最大文本长度',
                                value: '',
                                type: 'number',
                                required: false
                            }]
                },{
                        title: "数值",
                        type: 'number',
                        src: 'images/d-textarea.png',
                        parm: [
                            {
                                name: 'name',
                                lable: '字段名称',
                                value: '',
                                type: 'text',
                                required: true
                            },{
                                name: 'default',
                                lable: '默认值',
                                value: '',
                                type: 'text',
                                required: false
                            },{
                                name: 'unit',
                                lable: '单位',
                                value: '',
                                type: 'text',
                                required: false
                            },{
                                name: 'required',
                                lable: '是否必填',
                                value: false,
                                type: 'check',
                                required: false
                            },{
                                name: 'minDigit',
                                lable: '最小位数',
                                value: '',
                                type: 'number',
                                required: false
                            },{
                                name: 'minLength',
                                lable: '最小文本长度',
                                value: '',
                                type: 'number',
                                required: false
                            },{
                                name: 'maxLength',
                                lable: '最大文本长度',
                                value: '',
                                type: 'number',
                                required: false
                            }]
                    },{
                        title: "下拉",
                        type: 'number',
                        src: 'images/d-select.png',
                        parm: [
                            {
                                name: 'name',
                                lable: '字段名称',
                                value: '',
                                type: 'text',
                                required: true
                            },{
                                name: 'required',
                                lable: '是否必填',
                                value: false,
                                type: 'check',
                            },{
                                name: 'pulldown',
                                lable: '选项',
                                value: '',
                                type: 'pulldown',
                                options: []
                            }]


                    },{
                    title: "多选",
                    type: 'number',
                    src: 'images/d-checkgroup.png',
                    name: '',
                    default: '',
                    required: false,
                    rules: '',
                    minLength: '',
                    maxLength: '',
                },{
                    title: "单选",
                    type: 'number',
                    src: 'images/d-check.png',
                    name: '',
                    default: '',
                    required: false,
                    rules: '',
                    minLength: '',
                    maxLength: '',
                },{
                    title: "日期和时间",
                    type: 'number',
                    src: 'images/d-date.png',
                    name: '',
                    default: '',
                    required: false,
                    rules: '',
                    minLength: '',
                    maxLength: '',
                },{
                    title: "属性分组",
                    type: 'number',
                    src: 'images/d-group.png'
                },{
                    title: "表格",
                    type: 'number',
                    src: 'images/d-table.png'
                },{
                    title: "引用",
                    type: 'number',
                    src: 'images/d-quote.png'
                },{
                    title: "附件",
                    type: 'number',
                    src: 'images/d-file.png'
                }],
                form:{}
            }
        },
        created() {
            this.selectNav(this.left_nav[0])
        },
        mounted() {
            var that = this

        },
        methods: {
            handleDrop(data) {
                console.log(data)
                if(!data){ return }
                this.cur_drap = JSON.parse(JSON.stringify(data))
                this.msgBoxShow = true
                this.$nextTick(function () {
                    layui.use(['form'], function(){
                        layui.form.render()
                    });
                });
            },
            saveDrap() {
                // this.msgBoxShow = false
                var rules = this.$refs.rules ? this.$refs.rules[0].value : ''
                var required = this.$refs.required ? this.$refs.required[0].checked : ''
                this.cur_drap.parm.forEach((item)=>{
                    if(rules && item.name=='rules'){ item.value = rules }
                    if(required && item.name=='required'){ item.value = required }
                })
                console.log(this.cur_drap.parm)
            },
            selectNav(item) {
                this.left_nav.forEach((i)=>{
                    i.selected = false
                    if(i.id == item.id){
                        i.selected = true
                        this.cur_select = i
                    }
                })
            },
            addOption(item){
                console.log(item)
                item.options.push({
                    isSelect: false,
                    name: ''
                })
                this.$nextTick(function () {
                    layui.use(['form'], function(){
                        layui.form.render()
                    });
                });
            },
            checkOption(item,index) {
              item.options.forEach((i)=>{
                  i.isSelect = false
                  item.options[index].isSelect = true
              })
            },
            navEdit() {
                console.log(123)
            }
        }
    })
</script>

</body>
</html>
